{% extends 'core/base.html' %} {% block content %}
    <h1 class="mb-3">{{ project.name }}</h1>

    {% if project.description %}
     <p class="text-sm text-white pb-2">{{ project.description }}</p>
    {% endif %}

    <div class="row">
        <div class="col-6">
            <a href="{% url 'project:projects' %}" class="btn btn-primary"> Back </a>
            <a
                    class="btn btn-success btn-md"
                    href="{% url 'todolist:add-todo' project.id %}"
                    role="button"
            >Add Todos
            </a>
            <a class="btn btn-success btn-md" href="#" role="button">Mark as done </a>
            <a class="btn btn-primary btn-md" href="{% url 'project:edit-project' project.id %}" role="button"> Edit</a>
            <a class="btn btn-danger btn-md" href="{% url 'project:delete-project' project.id %}" role="button">
                Delete</a>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-left align-items-left g-12 gap-4">
            {% for todolist in project.todolists.all %}
                <div class="col-sm-12 col-md-12 bg-dark rounded py-5 px-5">
                    <a href="{% url 'todolist:todolist' project.id todolist.id %}">
                        <h2 class="mb-3 text-white">{{ todolist.name }}</h2>
                        <p class="text-sm text-white">{{ todolist.description }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
